# Python Traning

## Print the words

In [ ]:
print("Hello world")

Hello world

## Variables

variables are containers storing the data values, which further referance and manupulate the value.
"=" Assignment operator
* variable name - start with letter or undersocer, can be alphanumeric, case sensitive, should not bes  reserved word

* Literals are values used in Python.
(Literals are constant values assigned to constant variables. Literals represent fixed values that cannot be modified.)
* Types are - Numeric, Boolean,Collection,String and Special
* And also can use Operators -

Python divides the operators in the following groups:

1. Arithmetic operators
2. Assignment operators
3. Comparison operators
4. Logical operators
5. Identity operators
6. Membership operators
7. Bitwise operators

## Key words

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

## Comment python

In [ ]:
# This is comment

## Literals

* numaric - interger(0,-32,500), float(20.01,0.0,-25.36,1.0), complex(1 + 2j)

In [ ]:
x= 50
print(type(x))

y= 1.0
print(type(y))

z= 1 + 2j
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
i= True
j = False

print(type(i))

<class 'bool'>

Staring can be define as a collection of charactors inside the single quotes

In [ ]:
x = 'Hello'
y="Hi"
z = '''String'''
m= """String"""

In [ ]:
print(type(x))
print(type(y))
print(type(z))
print(type(m))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

## COLLECTION


*   Python list
*   Python Tuples
* Python Dictionary
* Python Sets

## Python Arithmetic Operators

Arithmetic operators are used with numeric values to perform common mathematical operations:

In [ ]:
x = 5
y = 3

print(x + y)

8

In [ ]:
print(x%y)

2

## Python Assignment Operators

Assignment operators are used to assign values to variables:

In [ ]:
x = 5

print(x)

5

In [ ]:
x = 5

x ^= 3

print(x)

6

## Python Comparison Operators
Comparison operators are used to compare two values:

In [ ]:
x = 5
y = 3

print(x == y)

False

In [ ]:
x = 5
y = 3

print(x >= y)

True

## Python Logical Operators

Logical operators are used to combine conditional statements:

In [ ]:
x = 5

print(x > 3 and x < 10)

True

In [ ]:
x = 5

print(not(x > 3 and x < 10))

False

## Python Identity Operators

Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

In [ ]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)
# returns True because z is the same object as x

True

In [ ]:
print(x is y)
# returns False because x is not the same object as y, even if they have the same content

False

In [ ]:
print(x is not z)

False

## Python Membership Operators

Membership operators are used to test if a sequence is presented in an object:

In [ ]:
x = ["apple", "banana"]

print("banana" in x)

True

In [ ]:
x = ["apple", "banana"]

print("banana" not in x)

False

In [ ]:
x = ["apple", "banana"]

print("graps" not in x)

True

## Strings

collection of characters

common operators


*   Concatenation
*   Repetition
*   Membership operation
*   Length
*   Indexing
*   Slicing

In [ ]:
#Using single line string
# a = 'hello
# world'
##Error

#Using multiline string

a = ''' hello
world'''
print(a)

 hello
world

In [ ]:
x='mlops'
y= 'learing'

#Concatination
x+y

'mlopslearing'

In [ ]:
x*3

'mlopsmlopsmlops'

In [ ]:
#membership operations

'mlops' in x

True

In [ ]:
'mlops' not in x

False

In [ ]:
len(x)

5

In [ ]:
#indexing

a = 'hello there, I am your teacher'

a[0]

'h'

In [ ]:
a[5]

' '

In [ ]:
# Slicing - getting the subset
a[1:5]

'ello'

In [ ]:
a[:5]

'hello'

### Special Functions of string

In [ ]:
a.capitalize()

'Hello there, i am your teacher'

In [ ]:
a.isalnum()

False

In [ ]:
b= "Welcome@123"
b.isalnum()

False

In [ ]:
b.upper()

'WELCOME@123'

In [ ]:
#strip
a= "      welcome   next   "
print(a)

      welcome   next

In [ ]:
a.strip()
# Blank spaces at start and end

'welcome   next'

## List

Python Lists are just like the arrays, declared in other languages which is an ordered collection of data. It is very flexible as the items in a list do not need to be of the same type.

In [ ]:
x=[20,30,'hello','welcome',12.25]
print(x)

[20, 30, 'hello', 'welcome', 12.25]

In [ ]:
print(type(x))

<class 'list'>

In [ ]:
x= [10,20]
y=['hello','kavinda']

x+y

[10, 20, 'hello', 'kavinda']

In [ ]:
x*2

[10, 20, 10, 20]

In [ ]:
10 in x

True

In [ ]:
'bool' not in y

True

In [ ]:
x=[20,30,'hello','welcome',12.25]
len(x)

5

In [ ]:
x[0]

20

In [ ]:
# x[30]

In [ ]:
x[:2]

[20, 30]

In [ ]:
x[1]= 'baby'
print(x)

[20, 'baby', 'hello', 'welcome', 12.25]

## Build in function list

In [ ]:
x.append(900)
print(x)

[20, 'baby', 'hello', 'welcome', 12.25, 900]

In [ ]:
x.remove(12.25)
print(x)

[20, 'baby', 'hello', 'welcome', 900]

In [ ]:
x.insert(0,40)
print(x)

[40, 20, 'baby', 'hello', 'welcome', 900]

## Tuples

Tuples are immutable
using ()

In [ ]:
x = (10,20,'hello','bye')

In [ ]:
x[0]

10

In [ ]:
x+x

(10, 20, 'hello', 'bye', 10, 20, 'hello', 'bye')

In [ ]:
x*2

(10, 20, 'hello', 'bye', 10, 20, 'hello', 'bye')

In [ ]:
'hello' in x

True

In [ ]:
20 not in x

False

In [ ]:
len(x)

4

In [ ]:
x[1:3]

(20, 'hello')

## Dictionary

versatile and mutable data type,

use to store key , value pairs

In [ ]:
x = {'number':900,'name':'kavinda','age':75,'city':'Alawwa'}

In [ ]:
x['number']

900

In [ ]:
x['number'] = 1000
print(x)

{'number': 1000, 'name': 'kavinda', 'age': 75, 'city': 'Alawwa'}

In [ ]:
len(x)

4

In [ ]:
x.keys()

dict_keys(['number', 'name', 'age', 'city'])

In [ ]:
x.values()

dict_values([1000, 'kavinda', 75, 'Alawwa'])

## Python Sets

collection of unique elements only and do not allow duplicate elements, and order of element not preserved.

In [ ]:
x ={10,20,32,'hello',True}
print(x)

{32, 'hello', True, 20, 10}

In [ ]:
x ={10,20,32,'hello',True,True}
print(x)

{32, 'hello', True, 20, 10}

In [ ]:
# x[0]
# x[0:3]

len(x)

5

## Casting

Casting in Python refers to the process of converting one data type into another

*   Implicit Casting
*   Explicit Casting

In [ ]:
#implicit casting
2*1.5
# result is float number, take auto as float

3.0

In [ ]:
# Explicit casting

float_numher = 3.014
integer_number = int(float_numher)
print(integer_number)

3

In [ ]:
integer_number = 42
float_numher = float(integer_number)
print(float_numher)

42.0

In [ ]:
number = 123
string_number = str(number)
string_number
print(type(string_number))

<class 'str'>

In [ ]:
my_tuple = (1,2,3)
list_from_tuple = list(my_tuple)
list_from_tuple

[1, 2, 3]

In [ ]:
my_list = [1,2,3]
tuple_from_list = tuple(my_list)
tuple_from_list

(1, 2, 3)

In [ ]:
my_list = [1,2,3,3,4,1,2]
list_from_set = set(my_list)
list_from_set

{1, 2, 3, 4}

## Read the input from user

* in python use the input() function to read input from the user.
* input() function takes a string as an argument

In [ ]:
# user_input = input("Enter the value to store: ")
# print("output is",user_input)

Enter the value to store: 300
output is 300

In [ ]:
# print("output Type: ", type(user_input))

output Type:  <class 'str'>

In [ ]:
# user_input_1 = int(input("Enter the number 1: "))
# user_input_2 = int(input("Enter the number 2: "))
# s = user_input_1 + user_input_2
# print(s)

Enter the number 1: 200
Enter the number 2: 400
600

## String Formating

Staring formating in Python refers to the ways in which you can create string with dynamic content, incorporating variables, expressions or values within a string

*   Dot method
*  f - string method

In [ ]:
x =10
y=20
s= x+y

#str.format()
message = "the first number is {}, the second number is {}, and sum is {}".format(x,y,s)
print(message)

the first number is 10, the second number is 20, and sum is 30

In [ ]:
#F-string

message = f"the first number is {x}, the second number is {y}, and sum is {s}"
print(message)

the first number is 10, the second number is 20, and sum is 30

## Control Statements in Python


*   Conditional Statements
*   Looping Statements

Allow you to execute different blocks of code based on whether a specified condition eveluatesd to 'True' of 'False'. - 'if' 'else' and 'elif'

In [ ]:
## if elif and else

x =0
if x>0:
  print("x greter than 0")
elif x==0:
  print("x is equal to 0")
else:
  print("x is less than 0")

x is equal to 0

### Loops



1.   for loop - the for loop is used for iterating over a sequence (such as list, tuple, string or range) or other iterable object
2.   while loop - the while loop is used to repeatedly execute a block of code as long as a specified condition is True

In [ ]:
fruits = ["apple","banana","orange"]

for i in fruits:
  print("Something")
  print(i)

Something
apple
Something
banana
Something
orange

In [ ]:
x= 0

while x < 3 :
  print(x)
  x +=1

0
1
2

### Break

The break statement is used to exit the loop prematurely

In [ ]:
fruits = ["apple","banana","orange"]

for i in fruits:
  print("Something")
  print(i)
  if i == "banana":
    break;

Something
apple
Something
banana

### Continue

The continue statement is used to skip the rest of the code inside the loop for current iteration and move to the next iteration

In [ ]:
fruits = ["apple","banana","orange","grap"]

for i in fruits:
  print("Something")

  if i == "banana":
    continue
  print(i)

Something
apple
Something
Something
orange
Something
grap

## List Comprehension

new_list =[expression for i in iterable if condition]

In [ ]:
x= [1,2,3,4,5,6,7]

result = []

for i in x:
  result.append(i**2)
print(result)

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
result = [i**2 for i in x]
print(result)

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
# I only need even number

result = [i**2 for i in x if i%2 == 0]
print(result)

[4, 16, 36]

## Functions in Python

Group of Statements that performas a specific task


def function_name(parameters):
statement(s)

In [ ]:
# pre build functions
x= [1,2,3,4,5,6,7]
len(x)
x.append(8)
print(x)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
def greet(name):
  print(f"Hello {name}!!")

In [ ]:
greet("Kavinda")

Hello Kavinda!!

In [ ]:
# Create function
def add_numbers(a,b):
  result= a+b
  return result

In [ ]:
value = add_numbers(10,20)
print(value)

30

In [ ]:
value = add_numbers(b=10,a=20)
print(value)

30

In [ ]:
def add_numbers(a,b=25):
  result= a+b
  return result

In [ ]:
value = add_numbers(25)
print(value)

50

## Modules in Python



*  A Module is a file containing the python defines and statements
*  Modules are the files with .py extension

* Helps us to logically organize the code

In [ ]:
# pre build module

import math

math.sqrt(100)

10.0

## Classes and Objects in Python


*   Object Oriented Programming

there are four things

* Classes - blueprint or prototype from which objects are created.
* Objects - An instance a of class- with values.
* Class Attributes - properties of an Object
* Class Methods - Reflects the Behavior of Objects

Constracture - initializer, special method that we use it whenever we are creating an object. it execute whenever I create a class.

self - basically instance of the class, whenever I am crating any method, self is mandatory, and it is a first parameter in every method.

In [2]:
class MyClass:

  #class variable
  class_variable = "I am a class variable"

  #Constarutor(initilizer) method
  def __init__(self,attribute1,attribute2):
    #instance variable
    self.attribute1 = attribute1
    self.attribute2 = attribute2

#instance method
  def display_attribute(self):
    print(f"Attribute 1 :{self.attribute1}")
    print(f"Attribute 2 :{self.attribute2}")

# another instance method

  def moidfy_attributes(self, new_value1, new_value2):
    self.attribute1 = new_value1
    self.attribute2 = new_value2

### Create Objects from Class

In [4]:
obj_1 = MyClass("Value01","Value02")
obj_2 = MyClass("AnotherValue1","AnotherValue2")

obj_1.display_attribute()

Attribute 1 :Value01
Attribute 2 :Value02

In [6]:
obj_1.moidfy_attributes("NewValue01","NewValue02")
obj_1.display_attribute()

Attribute 1 :NewValue01
Attribute 2 :NewValue02

In [ ]:
class MyClass:

  #class variable
  class_variable = "I am a class variable"

  #Constarutor(initilizer) method
  def __init__(self,attribute1,attribute2):
    #instance variable
    self.attribute1 = attribute1
    self.attribute2 = attribute2

#instance method
  def display_attribute(self):
    print(f"Attribute 1 :{self.attribute1}")
    print(f"Attribute 2 :{self.attribute2}")

# another instance method

  def moidfy_attributes(self, new_value1, new_value2):
    self.attribute1 = new_value1
    self.attribute2 = new_value2

## File Handing in Python

**fileobj = open(fileName,mode)**

If I want to open any file, use inbuild function call as *open*

*   fileobj - file object returned by open()
*   Filename - String name of the file
* mode - string indicating the file's type and what we want to perform

First Letter of mode indicates the operation

* **r** - means read
* **w** - mean write. if the file doesnt exist, it will be cretaed. if already exists it will be over-written.
* **x** means write, but only file doesnt exist
* **a** means append(Write after the end) if the file exist.


Second letter of mode is file's type:

* t(or nothing) means text
* b means binary

close file once write is complete. **fileobj.close()**

In [7]:
fileObj = open("Example.text","wt")

#Because "w" for write, and "t" for text are the default values
fileObj.close()

In [8]:
exmaple_text = """ fileobj = open(fileName,mode)

If I want to open any file, use inbuild function call as open

fileobj - file object returned by open()
Filename - String name of the file
mode - string indicating the file's type and what we want to perform
First Letter of mode indicates the operation

r - means read
w - mean write. if the file doesnt exist, it will be cretaed. if already exists it will be over-written.
x means write, but only file doesnt exist
a means append(Write after the end) if the file exist.
Second letter of mode is file's type:

t(or nothing) means text
b means binary
close file once write is complete. fileobj.close() """

In [10]:
fileObj = open("Example.text","wt")

fileObj.write(exmaple_text)

fileObj.close()

In [11]:
#Overrite a file- if have same name

fileObj = open("Example.text","wt")

fileObj.close()

In [12]:
# if use x - that shouldnt be exist the file
fileObj = open("Example_1.text","wt")

fileObj.close()

In [19]:
fileObj = open("Example.text","wt")

fileObj.write(exmaple_text)

fileObj.close()

In [20]:
fileObj_read = open("Example.text","rt")
data = fileObj_read.read()
print(data)
fileObj.close()

 fileobj = open(fileName,mode)

If I want to open any file, use inbuild function call as open

fileobj - file object returned by open()
Filename - String name of the file
mode - string indicating the file's type and what we want to perform
First Letter of mode indicates the operation

r - means read
w - mean write. if the file doesnt exist, it will be cretaed. if already exists it will be over-written.
x means write, but only file doesnt exist
a means append(Write after the end) if the file exist.
Second letter of mode is file's type:

t(or nothing) means text
b means binary
close file once write is complete. fileobj.close()

## Escape Characters

1. \n : new Line Character

In [21]:
print("hello \n world")

hello
 world

2. tab character :  \t

In [22]:
print("hello\tworld")

hello	world

In [23]:
# \\ backslash
print("hello\\world")

hello\world

## Working with Python Scripts

script file - it is a file with.py extension

run in terminal - python script.py

## Libraries in Python

library is a collection of modules that provides pre-witten and reusable code to perform specific tasks

In [ ]:
#Exmple

import pandas as pd

## Exception Handling

When an error occurs, or exception as we call it, Python will normally stop and generate an error message.

These exceptions can be handled using the try statement:

* The try block lets you test a block of code for errors.

* The except block lets you handle the error.

* The else block lets you execute code when there is no error.

* The finally block lets you execute code, regardless of the result of the try- and except blocks.

In [24]:
try:
  print(d)
except:
  print("Error occurred.!")

Error occurred.!

### Many Exceptions
You can define as many exception blocks as you want, e.g. if you want to execute a special block of code for a special kind of error:

In [25]:
try:
  print(x)
except NameError:
  print("Variable x is not defined")
except:
  print("Something else went wrong")

Variable x is not defined

### Else
You can use the else keyword to define a block of code to be executed if no errors were raised:

In [26]:
try:
  print("Hello")
except:
  print("Something went wrong")
else:
  print("Nothing went wrong")

Hello
Nothing went wrong

### Finally
The finally block, if specified, will be executed regardless if the try block raises an error or not.

In [27]:
try:
  print(x)
except:
  print("Something went wrong")
finally:
  print("The 'try except' is finished")

Something went wrong
The 'try except' is finished

### Raise an exception
As a Python developer you can choose to throw an exception if a condition occurs.

To throw (or raise) an exception, use the raise keyword.

In [ ]:
x = -1

if x < 0:
  raise Exception("Sorry, no numbers below zero")